<ion-view title="Confirmation">
    <ion-content class="padding">
        <h3 class="titre">Votre signalement a bien été envoyé.</h3>
        <div class="spacer espace" ></div>
        <div>
            <p>Le 19/09/2016 à 13:21</p>
        </div>
        <div class="spacer espace"></div>
        <div>
            <p>Colis n°671GVJG145356</p>
        </div>
        <div>
            <p>Meuble</p>
        </div>
        <div>
            <ul>
                <li>Emballage abîmé</li>
                <li>Non respect des pictogrammes</li>
            </ul>
        </div>
        <div class="spacer espace"></div>
        <div class="spacer espace"></div>
        <div>
            <img src="img/colis.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer espace"></div>
        <a ui-sref="tab.accueil" class="button button-dark  button-block icon-left ion-arrow-return-left">Retour</a>
    </ion-content>
</ion-view>