<ion-view title="Connexion">
    <ion-content class="padding">
        <div>
            <img src="img/la-redoute.png" width="100%" height="auto">
        </div>
        <h3 class="titre">Signalement des avaries</h3>
        <div class="spacer grand-espace"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer grand-espace"></div>
            <a ui-sref="tabs.aide" class="button button-dark  button-block">Se connecter</a>
            <a ui-sref="inscription" class="button button-assertive  button-block button-clear">Ou créer un compte</a>
        </form>
    </ion-content>
</ion-view>