<ion-view title="Inscription">
    <ion-content padding="true" class="padding">
        <div>
            <img src="img/la-redoute.png" width="100%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select">
                    <span class="input-label">Société</span>
                    <select>
                        <option>La Redoute</option>
                        <option>Relais-Colis</option>
                        <option>Grimonprez</option>
                        <option>Autre</option>
                    </select>
                </label>
                <label class="item item-input" id="inscription-input9">
                    <input type="text" placeholder="Si Autre, préciser la société">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirmer mot de passe</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="connexion" class="button button-dark  button-block">S'inscrire</a>
        </form>
    </ion-content>
</ion-view>