<ion-view title="Inscription">
    <ion-content padding="true" class="padding">
        <div>
            <img src="img/la-redoute.png" width="100%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nom</span>
                    <input type="text" required>
                </label>
                <div class="item item-button-right">
                    Société
                    <span class="affiche-selection">{{vm.societe}}</span>
                    <button class="button button-positive" modal-select="" ng-model="vm.societe" options="vm.options" modal-title="Sélectionner société" has-search="true">
                        <i class="icon ion-search"></i>
                        <div class="option">
                            {{option}}
                        </div>
                    </button>
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Si Autre, préciser la société">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input id="inscriptionEmail" type="email" ng-model="vm.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="vm.password" ng-class="{pwdinvalid: !vm.matchPassword(), pwdvalid: vm.matchPassword()}" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirmer mot de passe</span>
                    <input type="password" ng-model="vm.confirmPassword" ng-class="{pwdinvalid: !vm.matchPassword(), pwdvalid: vm.matchPassword()}" required>
                </label>
            </ion-list>
            <a ui-sref="connexion" class="button button-dark  button-block" ng-click="vm.inscrire()">S'inscrire</a>
        </form>
    </ion-content>
</ion-view>