<ion-view view-title="Aide">
    <ion-content class="padding">
        <h3>Bonjour Eric !</h3>
        <p>
            Comment utiliser cette application ?
        </p>
        <div class="list">

            <a class="item item-icon-left" href="#/tab/accueil">
                <i class="icon ion-home pink"></i>
                <p class="pink"> Accueil </p>
            </a>
            <p>
                Cette page vous sert à signaler une avarie sur un colis ou une palette.
            </p>
            <a class="item item-icon-left" href="#/tab/profil">
                <i class="icon ion-android-contact pink"></i>
                <p class="pink"> Profil </p>
            </a>
            <p>
                Ici, vous pouvez voir et éditer vos informations personnelles.
            </p>
            <a class="item item-icon-left" href="#/tab/aide">
                <i class="icon ion-ios-help pink"></i>
                <p class="pink"> Aide </p>
            </a>
            <p>
                Enfin, cet onglet vous permet de revenir à cette page à tout moment !
            </p>

        </div>
    </ion-content>
</ion-view>
