/* Empty. Add your own CSS if you like */
.bar-black{
    background-color: black;
    color: white;
}

div.pink,
i.pink{
    color: #DD1B7B
}

.pink-background{
    background-color: #DD1B7B
}

h3.black,
div.black{
  color: black;
}

span.explication,
div.explication,
p.explication
{
  color: #DD1B7B;
  font-size: 16px
}

h3.titre{
  color: black;
  text-align: center
}
