/* Empty. Add your own CSS if you like */
.bar-black{
    background-color: black;
    color: white;
}

div.pink,
i.pink{
    color: #DD1B7B
}

.pink-background{
    background-color: #DD1B7B
}

h3.black,
div.black{
  color: black;
}

p.explication
{
  color: #DD1B7B;
  font-size: 16px
}

h3.titre{
  color: black;
  text-align: center
}

.petit-espace {
    width: 300px;
    height: 13px;
}

.grand-espace {
    width: 300px;
    height: 28px;
}

#inscriptionEmail.ng-dirty.ng-not-empty.ng-invalid{
    color: #a94442;
}

#inscriptionEmail.ng-dirty.ng-not-empty.ng-valid{
    color: #039c05;
}

.ng-dirty.pwdvalid{
    color: #039c05;
}

.ng-dirty.pwdinvalid{
    color: #a94442;
}

.affiche-selection {
    color: #444;
    margin: -1px;
    padding: 16px;
    font-size: 16px;
}
